{% comment %} {% assign myVariable = "hello world" %}
{{ myVariable }}

{% capture html  %}
    <div>
        <p>Hello {{ product.title }}</p>
    </div>
{% endcapture %}

{{ html }} {% endcomment %}

{% for product in collection.products %}
    <p style="
        {% if forloop.first %}
            color:green
            {% elsif forloop.last %}
                color:orange
        {% endif %}
        ">{{forloop.index0 }} -  {{ product.title }}</p>
{% endfor %}